﻿﻿﻿﻿﻿@model Vjezba.Web.Models.Mock.City

<table class="table table-condensed">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <th>Naziv</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Poštanski broj</th>
            <td>@Model.PostalCode</td>
        </tr>
    </tbody>
</table>

