﻿﻿﻿﻿﻿@model List<Vjezba.Web.Models.Mock.Company>

<table id="tbl-companies" class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Datum osnivanja</th>
            <th>Email</th>
            <th>Grad</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr id="@company.ID" onmouseover="setMaxOpacity(this);" onmouseout="setLowOpacity(this);">
                <td>@company.ID</td>
                <td>@Html.ActionLink(company.Name, "Details", new { id = company.ID })</td>
                <td>@company.Address</td>
                <td>@company.DateFrom.ToShortDateString()</td>
                <td>@company.Email</td>
                @if (company.City != null)
                {
                    <td>@company.City.Name</td>
                }
                else
                {
                    <td>Nema grada</td>
                }
                <td>@Html.ActionLink("Uredi", "Edit", new { id = company.ID }) &nbsp;|&nbsp; <a href="#" onclick="deleteAjax(@company.ID)">Izbriši</a></td>
            </tr>
        }
    </tbody>
</table>
