﻿﻿﻿﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Detalji kompanije";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Detalji o kompaniji</li>
</ol>
<h2>Pregled detalja kompanije</h2>
@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrana kompanija!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Adresa</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Grad</th>
                <td><a href="#" class="city-popover">@Model.City.Name</a></td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Uredi", "Edit", new { id = Model.ID })</td>
            </tr>
        </tbody>
    </table>
}
<div class="hidden" id="popover-data">
    @Html.Action("DetailsPartial", "City", new { id = Model.CityID, area = "Admin" })
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".city-popover").popover({ content: $("#popover-data").html(), html: true });
        });
    </script>

}