﻿﻿﻿﻿@model List<Vjezba.Web.Models.Mock.Company>
@{
    ViewBag.Title = "Pregled kompanija";
}
<div class="panel panel-heading">
    <div class="row">
        <div class="col-xs-8">
            <h2>Pregled kompanija</h2>
        </div>
        <div class="col-xs-4 text-right">
            <a href="@Url.Action("Create")" style="margin-top: 20px;" class="btn btn-success">Dodaj novu kompaniju</a>
        </div>
    </div>
</div>

@Html.Partial("_CompanyFilter", new Vjezba.Web.Models.CompanyFilterModel())
@Html.Partial("_IndexTable", Model)

@section scripts{
    <style type="text/css">
        table.table tr.bold {
            font-weight: bold;
        }
    </style>
    <script type="text/javascript">

        $(function () {
            $(".companies-filter .submit-button").on("click", function () {
                $.ajax({
                    url: '@Url.Action("IndexAjax")',
                    method: "POST",
                    data: $(this).closest('form').serialize(),
                    success: function (data) {
                        $("#tbl-companies").replaceWith(data);
                        initFeatures();
                    }
                });
            });
            initFeatures();
        });

        function initFeatures() {
            $("tr").css("opacity", "0.9");
        }

        function setMaxOpacity(tableRow) {
            $(tableRow).css("opacity", "1");
        }

        function setLowOpacity(tr) {
            $(tr).css("opacity", "0.9");
        }

        function deleteAjax(compID) {
            $.ajax({
                url: '@Url.Action("Delete", "Company")',
                method: "POST",
                data: JSON.stringify({id : compID}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#" + compID).hide();
                    initFeatures();
                }
            });
            initFeatures();
        };

    </script>
}
